@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}

.masthead.segment.home-banner {
  position: relative;
  background-image: url(/static/background3.jpeg) !important;
  background-size: cover !important;
  background-position: center center !important;
  min-height: 400px !important;
}
.masthead.segment.home-banner h1.ui.header {
  margin-top: 50px;
}
.masthead.segment.home-banner > * {
  position: relative;
  z-index: 1;
}

.masthead.segment.home-banner:after {
  position: absolute;
  z-index: 0;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 25%, #000000 100%); */
  background-color: rgba(255, 255, 255, 0.95);
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe p + h3,
.ui.vertical.stripe .button + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.ui.stripe.alternate {
  background-color: #f2f3f5;
}

.quote.stripe.segment {
  padding: 0;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.ui.label {
  margin-top: 3px !important;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 350px;
  }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}

/* Code blocks (Fix a strange bug with prismjs) */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
  background: #272822;
}
